{{#example-code-card snippetName="custom-options-example.hbs" as |text|}}
  {{#text.headline}}Simple custom options{{/text.headline}}
  {{#text.subhead}}Allows custom options pass through to printThis{{/text.subhead}}
  {{code-snippet name="print-options.js"}}
{{/example-code-card}}

<div class="print-example">
  {{#print-this options=printThisOptions autoPrint=true}}
    <h1 class="md-headline">My cool content</h1>
    <img src="images/tomster.png" alt="Tomster" title="Tomster">
  {{/print-this}}
</div>